# Project 1: The essentials
*italics*
_italics_

*bold*
_bold_

**_bold italic_**

###Execute Cell Options
Create new cells using alt + enter
Run cell using ctrl + enter
Run cell and move to next cell using shift + enter

In [1]:
#helloworld.py
print("Hello world")

Hello world

In [2]:
'Hello World'

'Hello World'

In [3]:
msg = 'Hello World'
print(msg)

Hello World

## Methods

In [4]:
type(8)

int

In [5]:
type(8.)

float

In [6]:
type('8')

str

In [7]:
msg.lower()

'hello world'

In [8]:
msg.upper()

'HELLO WORLD'

In [9]:
msg.lower().title()

'Hello World'

In [10]:
print("data_table".title().replace("_","\n"))

Data
Table

## Concatenate Objects

Using + between strings concatenates strings

In [25]:
"1" "2" "3"

'123'

In [11]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## Printing

In [12]:
line1 = "You thought it would be easy"
line2 = "You thought it would be strange"
line3 = "But then you started coding"
line4 = "Things never were the same"

Placing commas between objects creates a tuple

In [13]:
line1, line2, line3, line4

('You thought it would be easy',
 'You thought it would be strange',
 'But then you started coding',
 'Things never were the same')

A comma in the print function implies some action by the function. The default value attributed to a seperating comma is a space.

In [14]:
print(line1, line2, line3, line4, sep = "\n")

You thought it would be easy
You thought it would be strange
But then you started coding
Things never were the same

In [15]:
single_in_double = "We may use 'single quotes' within double quotes"
double_in_single = 'We may use "double quotes" within single quotes'
print(single_in_double)
print(double_in_single)

We may use 'single quotes' within double quotes
We may use "double quotes" within single quotes

## Escape Sequences and Other String Functions

In [26]:
#"\" is a backslash
#'\" is a single quote
#"\"" is a double quote
#"\t" is a horizontal tab
#"\n" is a new line

#using a backslash followed by a return key (enter) 
#will allow a single line string to be written across 
#multiple lines

In [17]:
single_quotes = 'We may use \'single quotes\' in single quotes.'
double_quotes = "Or we may use \"double quotes\" in double quotes."
read_backslash = "We may use two back backslashes to print a single backslash: \\"
lines = "Every\nword\nis\na\nnew\nline"
new_line_and_tab = "We may start a new line \n\tand use tab for a hanging indent"

print(single_quotes)
print(double_quotes)
print(read_backslash)
print(lines)
print(new_line_and_tab)

We may use 'single quotes' in single quotes.
Or we may use "double quotes" in double quotes.
We may use two back backslashes to print a single backslash: \
Every
word
is
a
new
line
We may start a new line
	and use tab for a hanging indent

In [18]:
#"\b" is a backspace
#"\f" is a formfeed
#"\v" is a vertical tab

#.lstrip(): remove spaces on the far left
#.rstrip(): remove spaces on the far right
#.strip(): remove spaces on the left and right of text object

In [19]:
spaces = "    Look at all the spaces in the text!     "
print("no spaces removed:\n", spaces)

no spaces removed:
     Look at all the spaces in the text!

In [20]:
remove_left_spaces = spaces.lstrip()
remove_right_spaces = spaces.rstrip()
remove_left_and_right_spaces = spaces.strip()

print("Remove left spaces:\n" + remove_left_spaces)
print("Remove right spaces:\n" + remove_right_spaces)
print("Remove left and right spaces:\n" + remove_left_and_right_spaces)

Remove left spaces:
Look at all the spaces in the text!
Remove right spaces:
    Look at all the spaces in the text!
Remove left and right spaces:
Look at all the spaces in the text!

In [21]:
spaces = "     Look at all the spaces in the text!    "
print("no spaces removed:\n", spaces)

remove_all_spaces = spaces.replace(" ", "")
print("Remove all spaces:\n" + remove_all_spaces)

no spaces removed:
      Look at all the spaces in the text!
Remove all spaces:
Lookatallthespacesinthetext!

In [22]:
#triplequotes - doesn't use them much anymore
x = """\
Everything in this object will be recorded exactly as entered,
if we enter a new line or
    a new line with a tab."""

print(x)

Everything in this object will be recorded exactly as entered,
if we enter a new line or
    a new line with a tab.

## Working With Numbers

In [23]:
#integers
num1 = 5 + 3 
num1s = "5" +"3"

print("num1:", num1,"\nnum1s:", num1s)

num1: 8
num1s: 53

In [24]:
#floats
num1 = 5 / 3
num2 = 5 / 4
num3 = 4 / 3

print("num1:", num1, "\nnum2:", num2, "\nnum3:", num3)

num1: 1.6666666666666667
num2: 1.25
num3: 1.3333333333333333

In [27]:
xint = 3
xfloat = 3.
xstr = "3"
xint, xfloat, xstr

(3, 3.0, '3')

In [28]:
xint, type(xint)

(3, int)

In [29]:
xfloat, type(xfloat)

(3.0, float)

In [30]:
xstr, type(xstr)

('3', str)

if you sum an int and float the resulting object will be a float

you cannot combine strings and floats unless you specify what class it turns into

In [32]:
xint + xfloat, type(xint + xfloat)

(6.0, float)

In [31]:
xstr + xfloat

TypeError: can only concatenate str (not "float") to str

In [33]:
xstr + str(xfloat)

'33.0'

In [34]:
xstr + str(xint)

'33'

In [35]:
int(xstr) + xint

6

In [36]:
float(xstr) +xint

6.0

In [40]:
string_to_value ={
    "One":1,
    "Two":2,
    "Three":3
}
string_to_value

{'One': 1, 'Two': 2, 'Three': 3}

### Overflow Error
Floats can be too large (2.0^1024 or larger) but an int can be as large as you want

In [41]:
2.0**1023

8.98846567431158e+307

In [42]:
2.0**1024

OverflowError: (34, 'Result too large')

In [43]:
2**1024

179769313486231590772930519078902473361797697894230657273430081157732675805500963132708477322407536021120113879871393357658789768814416622492847430639474124377767893424865485276302219601246094119453082952085005768838150682342462881473913110540827237163350510684586298239947245938479716304835356329624224137216